.super-mario {
    width: 200px;
    position: absolute;
    top: 50px;
    z-index: 1;
  }
  
  .goomba {
    width: 100px;
    top: 310px;
    left: 100px;
    position: absolute;
    z-index: 2;
  }
  
  .baloon {
    top: 450px;
    position: absolute;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    top: 490px;
    left: 30px;
    position: absolute;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    top: 590px;
    left: 280px;
    position: absolute;
    z-index: 3;
  }