#a {
    margin: 10px;
}
#b {
    margin: 10px;
}
.form {
    text-align: center;
}
.title {
    color: orange;
    text-align: center;
}
.controles {
    display: block; 
}
button{
    font-size: large;
    margin: 10px;
}
.resultado {
    font-size: 30px;
    margin-left: 40%;
    margin-right: 40%;
    border: 2px solid black;
}