body{
    margin: 0px;
    padding: 0px;
    top: 0px;
}
.header{
    background-color: #4281a4;
    margin: 0% ;
    padding: 0%;

}
.header h1{
    margin: 0px;
    padding: 2%;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    text-align: center;
}