h1{
    color: orange;
    font-size: 2em;
    font-family: sans-serif;
}
h2{
    color: green;
}

p{
    font-family: monospace, sans-serif;
    font-weight: 600px;
    font-size: 3em;
}
body{
    background-color: rgb(200, 500, 200);
    font-size: 16px;
}
#tipo-1-1{
    background-color: rgb(100, 500, 100);
}
.list-style{
    background-color: peru;
    color: white;
}
#item-1{
    background-color: yellow;
}
#item-2{
    background-color: red;
}
#item-3{
    background-color: brown;
}
